.icon-random-a.snow1 {
  --left-local: 90vw;
  --top-local: -11vh; }

.icon-random-a.snow2 {
  --left-local: 27vw;
  --top-local: -37vh; }

.icon-random-a.snow3 {
  --left-local: 44vw;
  --top-local: -14vh; }

.icon-random-a.snow4 {
  --left-local: 56vw;
  --top-local: -20vh; }

.icon-random-a.snow5 {
  --left-local: 34vw;
  --top-local: -21vh; }

.icon-random-a.snow6 {
  --left-local: 85vw;
  --top-local: -29vh; }

.icon-random-a.snow7 {
  --left-local: 97vw;
  --top-local: -21vh; }

.icon-random-a.snow8 {
  --left-local: 97vw;
  --top-local: -10vh; }

.icon-random-a.snow9 {
  --left-local: 94vw;
  --top-local: -18vh; }

.icon-random-a.snow10 {
  --left-local: 85vw;
  --top-local: -50vh; }

.icon-random-a {
  position: absolute;
  animation: icon-random-a-animate 10s linear infinite;
  animation-delay: 1s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-a-animate {
  10% {
    left: calc(var(--left-local) + 0.1213686108vw); }
  22% {
    left: calc(var(--left-local) - 0.8453988382vw); }
  30% {
    left: calc(var(--left-local) + 0.8192847649vw); }
  43% {
    left: calc(var(--left-local) - 0.4496909429vw); }
  52% {
    left: calc(var(--left-local) + 0.2075342469vw); }
  61% {
    left: calc(var(--left-local) - 0.181330038vw); }
  70% {
    left: calc(var(--left-local) + 0.0719896293vw); }
  85% {
    left: calc(var(--left-local) - 0.3462115992vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-b.snow1 {
  --left-local: 4vw;
  --top-local: -8vh; }

.icon-random-b.snow2 {
  --left-local: 25vw;
  --top-local: -8vh; }

.icon-random-b.snow3 {
  --left-local: 31vw;
  --top-local: -4vh; }

.icon-random-b.snow4 {
  --left-local: 19vw;
  --top-local: -17vh; }

.icon-random-b.snow5 {
  --left-local: 66vw;
  --top-local: -50vh; }

.icon-random-b.snow6 {
  --left-local: 79vw;
  --top-local: -10vh; }

.icon-random-b.snow7 {
  --left-local: 75vw;
  --top-local: -49vh; }

.icon-random-b.snow8 {
  --left-local: 86vw;
  --top-local: -2vh; }

.icon-random-b.snow9 {
  --left-local: 50vw;
  --top-local: -10vh; }

.icon-random-b.snow10 {
  --left-local: 37vw;
  --top-local: -27vh; }

.icon-random-b {
  position: absolute;
  animation: icon-random-b-animate 10s linear infinite;
  animation-delay: 2s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-b-animate {
  10% {
    left: calc(var(--left-local) + 0.621055872vw); }
  22% {
    left: calc(var(--left-local) - 0.9021378664vw); }
  30% {
    left: calc(var(--left-local) + 0.0245143104vw); }
  43% {
    left: calc(var(--left-local) - 0.3950456341vw); }
  52% {
    left: calc(var(--left-local) + 0.5794393365vw); }
  61% {
    left: calc(var(--left-local) - 0.5155727461vw); }
  70% {
    left: calc(var(--left-local) + 0.0807345662vw); }
  85% {
    left: calc(var(--left-local) - 0.7962130018vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-c.snow1 {
  --left-local: 94vw;
  --top-local: -30vh; }

.icon-random-c.snow2 {
  --left-local: 99vw;
  --top-local: -47vh; }

.icon-random-c.snow3 {
  --left-local: 5vw;
  --top-local: -38vh; }

.icon-random-c.snow4 {
  --left-local: 92vw;
  --top-local: -16vh; }

.icon-random-c.snow5 {
  --left-local: 48vw;
  --top-local: -37vh; }

.icon-random-c.snow6 {
  --left-local: 49vw;
  --top-local: -41vh; }

.icon-random-c.snow7 {
  --left-local: 15vw;
  --top-local: -21vh; }

.icon-random-c.snow8 {
  --left-local: 37vw;
  --top-local: -23vh; }

.icon-random-c.snow9 {
  --left-local: 69vw;
  --top-local: -46vh; }

.icon-random-c.snow10 {
  --left-local: 75vw;
  --top-local: -34vh; }

.icon-random-c {
  position: absolute;
  animation: icon-random-c-animate 10s linear infinite;
  animation-delay: 3s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-c-animate {
  10% {
    left: calc(var(--left-local) + 0.8962019645vw); }
  22% {
    left: calc(var(--left-local) - 0.4940535033vw); }
  30% {
    left: calc(var(--left-local) + 0.5190163343vw); }
  43% {
    left: calc(var(--left-local) - 0.9884667913vw); }
  52% {
    left: calc(var(--left-local) + 0.5022548946vw); }
  61% {
    left: calc(var(--left-local) - 0.7387137333vw); }
  70% {
    left: calc(var(--left-local) + 0.1015153157vw); }
  85% {
    left: calc(var(--left-local) - 0.9463242814vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-d.snow1 {
  --left-local: 7vw;
  --top-local: -5vh; }

.icon-random-d.snow2 {
  --left-local: 71vw;
  --top-local: -3vh; }

.icon-random-d.snow3 {
  --left-local: 40vw;
  --top-local: -23vh; }

.icon-random-d.snow4 {
  --left-local: 30vw;
  --top-local: -2vh; }

.icon-random-d.snow5 {
  --left-local: 93vw;
  --top-local: -27vh; }

.icon-random-d.snow6 {
  --left-local: 84vw;
  --top-local: -1vh; }

.icon-random-d.snow7 {
  --left-local: 24vw;
  --top-local: -36vh; }

.icon-random-d.snow8 {
  --left-local: 25vw;
  --top-local: -43vh; }

.icon-random-d.snow9 {
  --left-local: 25vw;
  --top-local: -7vh; }

.icon-random-d.snow10 {
  --left-local: 100vw;
  --top-local: -4vh; }

.icon-random-d {
  position: absolute;
  animation: icon-random-d-animate 10s linear infinite;
  animation-delay: 3.7s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-d-animate {
  10% {
    left: calc(var(--left-local) + 0.355606428vw); }
  22% {
    left: calc(var(--left-local) - 0.4954385603vw); }
  30% {
    left: calc(var(--left-local) + 0.085246127vw); }
  43% {
    left: calc(var(--left-local) - 0.7646722581vw); }
  52% {
    left: calc(var(--left-local) + 0.0333395023vw); }
  61% {
    left: calc(var(--left-local) - 0.8285261019vw); }
  70% {
    left: calc(var(--left-local) + 0.2552617245vw); }
  85% {
    left: calc(var(--left-local) - 0.8634115877vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-e.snow1 {
  --left-local: 18vw;
  --top-local: -9vh; }

.icon-random-e.snow2 {
  --left-local: 77vw;
  --top-local: -44vh; }

.icon-random-e.snow3 {
  --left-local: 38vw;
  --top-local: -18vh; }

.icon-random-e.snow4 {
  --left-local: 66vw;
  --top-local: -14vh; }

.icon-random-e.snow5 {
  --left-local: 24vw;
  --top-local: -47vh; }

.icon-random-e.snow6 {
  --left-local: 39vw;
  --top-local: -19vh; }

.icon-random-e.snow7 {
  --left-local: 64vw;
  --top-local: -13vh; }

.icon-random-e.snow8 {
  --left-local: 71vw;
  --top-local: -32vh; }

.icon-random-e.snow9 {
  --left-local: 7vw;
  --top-local: -24vh; }

.icon-random-e.snow10 {
  --left-local: 35vw;
  --top-local: -20vh; }

.icon-random-e {
  position: absolute;
  animation: icon-random-e-animate 10s linear infinite;
  animation-delay: 4.4s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-e-animate {
  10% {
    left: calc(var(--left-local) + 0.1040130599vw); }
  22% {
    left: calc(var(--left-local) - 0.3403729383vw); }
  30% {
    left: calc(var(--left-local) + 0.4761439876vw); }
  43% {
    left: calc(var(--left-local) - 0.8543840548vw); }
  52% {
    left: calc(var(--left-local) + 0.9755165839vw); }
  61% {
    left: calc(var(--left-local) - 0.1067882341vw); }
  70% {
    left: calc(var(--left-local) + 0.5063984117vw); }
  85% {
    left: calc(var(--left-local) - 0.3093217024vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-f.snow1 {
  --left-local: 52vw;
  --top-local: -25vh; }

.icon-random-f.snow2 {
  --left-local: 98vw;
  --top-local: -40vh; }

.icon-random-f.snow3 {
  --left-local: 6vw;
  --top-local: -16vh; }

.icon-random-f.snow4 {
  --left-local: 18vw;
  --top-local: -24vh; }

.icon-random-f.snow5 {
  --left-local: 21vw;
  --top-local: -7vh; }

.icon-random-f.snow6 {
  --left-local: 92vw;
  --top-local: -48vh; }

.icon-random-f.snow7 {
  --left-local: 22vw;
  --top-local: -31vh; }

.icon-random-f.snow8 {
  --left-local: 28vw;
  --top-local: -37vh; }

.icon-random-f.snow9 {
  --left-local: 58vw;
  --top-local: -44vh; }

.icon-random-f.snow10 {
  --left-local: 98vw;
  --top-local: -5vh; }

.icon-random-f {
  position: absolute;
  animation: icon-random-f-animate 10s linear infinite;
  animation-delay: 5s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-f-animate {
  10% {
    left: calc(var(--left-local) + 0.5447765894vw); }
  22% {
    left: calc(var(--left-local) - 0.4762041018vw); }
  30% {
    left: calc(var(--left-local) + 0.9433666365vw); }
  43% {
    left: calc(var(--left-local) - 0.7634967247vw); }
  52% {
    left: calc(var(--left-local) + 0.3768284154vw); }
  61% {
    left: calc(var(--left-local) - 0.5354428465vw); }
  70% {
    left: calc(var(--left-local) + 0.6366497782vw); }
  85% {
    left: calc(var(--left-local) - 0.6690168761vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-g.snow1 {
  --left-local: 35vw;
  --top-local: -20vh; }

.icon-random-g.snow2 {
  --left-local: 19vw;
  --top-local: -10vh; }

.icon-random-g.snow3 {
  --left-local: 67vw;
  --top-local: -10vh; }

.icon-random-g.snow4 {
  --left-local: 38vw;
  --top-local: -25vh; }

.icon-random-g.snow5 {
  --left-local: 17vw;
  --top-local: -17vh; }

.icon-random-g.snow6 {
  --left-local: 46vw;
  --top-local: -50vh; }

.icon-random-g.snow7 {
  --left-local: 30vw;
  --top-local: -44vh; }

.icon-random-g.snow8 {
  --left-local: 86vw;
  --top-local: -37vh; }

.icon-random-g.snow9 {
  --left-local: 23vw;
  --top-local: -4vh; }

.icon-random-g.snow10 {
  --left-local: 22vw;
  --top-local: -29vh; }

.icon-random-g {
  position: absolute;
  animation: icon-random-g-animate 10s linear infinite;
  animation-delay: 6s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-g-animate {
  10% {
    left: calc(var(--left-local) + 0.8577635541vw); }
  22% {
    left: calc(var(--left-local) - 0.805848969vw); }
  30% {
    left: calc(var(--left-local) + 0.5656871292vw); }
  43% {
    left: calc(var(--left-local) - 0.4135300852vw); }
  52% {
    left: calc(var(--left-local) + 0.9262570373vw); }
  61% {
    left: calc(var(--left-local) - 0.4759851323vw); }
  70% {
    left: calc(var(--left-local) + 0.1705747222vw); }
  85% {
    left: calc(var(--left-local) - 0.9067138149vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-h.snow1 {
  --left-local: 60vw;
  --top-local: -2vh; }

.icon-random-h.snow2 {
  --left-local: 34vw;
  --top-local: -41vh; }

.icon-random-h.snow3 {
  --left-local: 50vw;
  --top-local: -48vh; }

.icon-random-h.snow4 {
  --left-local: 23vw;
  --top-local: -14vh; }

.icon-random-h.snow5 {
  --left-local: 7vw;
  --top-local: -19vh; }

.icon-random-h.snow6 {
  --left-local: 10vw;
  --top-local: -26vh; }

.icon-random-h.snow7 {
  --left-local: 38vw;
  --top-local: -37vh; }

.icon-random-h.snow8 {
  --left-local: 29vw;
  --top-local: -26vh; }

.icon-random-h.snow9 {
  --left-local: 95vw;
  --top-local: -1vh; }

.icon-random-h.snow10 {
  --left-local: 24vw;
  --top-local: -45vh; }

.icon-random-h {
  position: absolute;
  animation: icon-random-h-animate 10s linear infinite;
  animation-delay: 7s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-h-animate {
  10% {
    left: calc(var(--left-local) + 0.5949742622vw); }
  22% {
    left: calc(var(--left-local) - 0.7659581063vw); }
  30% {
    left: calc(var(--left-local) + 0.1223327332vw); }
  43% {
    left: calc(var(--left-local) - 0.2635102871vw); }
  52% {
    left: calc(var(--left-local) + 0.6726222181vw); }
  61% {
    left: calc(var(--left-local) - 0.3655322122vw); }
  70% {
    left: calc(var(--left-local) + 0.1737304802vw); }
  85% {
    left: calc(var(--left-local) - 0.9742535665vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-i.snow1 {
  --left-local: 13vw;
  --top-local: -12vh; }

.icon-random-i.snow2 {
  --left-local: 92vw;
  --top-local: -45vh; }

.icon-random-i.snow3 {
  --left-local: 31vw;
  --top-local: -20vh; }

.icon-random-i.snow4 {
  --left-local: 55vw;
  --top-local: -15vh; }

.icon-random-i.snow5 {
  --left-local: 76vw;
  --top-local: -23vh; }

.icon-random-i.snow6 {
  --left-local: 2vw;
  --top-local: -44vh; }

.icon-random-i.snow7 {
  --left-local: 65vw;
  --top-local: -5vh; }

.icon-random-i.snow8 {
  --left-local: 56vw;
  --top-local: -24vh; }

.icon-random-i.snow9 {
  --left-local: 69vw;
  --top-local: -35vh; }

.icon-random-i.snow10 {
  --left-local: 19vw;
  --top-local: -15vh; }

.icon-random-i {
  position: absolute;
  animation: icon-random-i-animate 10s linear infinite;
  animation-delay: 8s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-i-animate {
  10% {
    left: calc(var(--left-local) + 0.4119714398vw); }
  22% {
    left: calc(var(--left-local) - 0.3421488199vw); }
  30% {
    left: calc(var(--left-local) + 0.3524906777vw); }
  43% {
    left: calc(var(--left-local) - 0.4571437969vw); }
  52% {
    left: calc(var(--left-local) + 0.2717175544vw); }
  61% {
    left: calc(var(--left-local) - 0.0339197552vw); }
  70% {
    left: calc(var(--left-local) + 0.6607818354vw); }
  85% {
    left: calc(var(--left-local) - 0.3678439219vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-j.snow1 {
  --left-local: 48vw;
  --top-local: -50vh; }

.icon-random-j.snow2 {
  --left-local: 97vw;
  --top-local: -1vh; }

.icon-random-j.snow3 {
  --left-local: 12vw;
  --top-local: -28vh; }

.icon-random-j.snow4 {
  --left-local: 90vw;
  --top-local: -17vh; }

.icon-random-j.snow5 {
  --left-local: 29vw;
  --top-local: -35vh; }

.icon-random-j.snow6 {
  --left-local: 36vw;
  --top-local: -46vh; }

.icon-random-j.snow7 {
  --left-local: 42vw;
  --top-local: -15vh; }

.icon-random-j.snow8 {
  --left-local: 93vw;
  --top-local: -47vh; }

.icon-random-j.snow9 {
  --left-local: 9vw;
  --top-local: -43vh; }

.icon-random-j.snow10 {
  --left-local: 68vw;
  --top-local: -41vh; }

.icon-random-j {
  position: absolute;
  animation: icon-random-j-animate 10s linear infinite;
  animation-delay: 9s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-j-animate {
  10% {
    left: calc(var(--left-local) + 0.8953910794vw); }
  22% {
    left: calc(var(--left-local) - 0.8573957744vw); }
  30% {
    left: calc(var(--left-local) + 0.5162527448vw); }
  43% {
    left: calc(var(--left-local) - 0.7301006677vw); }
  52% {
    left: calc(var(--left-local) + 0.2045314571vw); }
  61% {
    left: calc(var(--left-local) - 0.0672957982vw); }
  70% {
    left: calc(var(--left-local) + 0.6852525118vw); }
  85% {
    left: calc(var(--left-local) - 0.4794645386vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-k.snow1 {
  --left-local: 11vw;
  --top-local: -5vh; }

.icon-random-k.snow2 {
  --left-local: 59vw;
  --top-local: -33vh; }

.icon-random-k.snow3 {
  --left-local: 29vw;
  --top-local: -43vh; }

.icon-random-k.snow4 {
  --left-local: 23vw;
  --top-local: -22vh; }

.icon-random-k.snow5 {
  --left-local: 37vw;
  --top-local: -37vh; }

.icon-random-k.snow6 {
  --left-local: 59vw;
  --top-local: -27vh; }

.icon-random-k.snow7 {
  --left-local: 3vw;
  --top-local: -1vh; }

.icon-random-k.snow8 {
  --left-local: 24vw;
  --top-local: -39vh; }

.icon-random-k.snow9 {
  --left-local: 35vw;
  --top-local: -42vh; }

.icon-random-k.snow10 {
  --left-local: 97vw;
  --top-local: -19vh; }

.icon-random-k {
  position: absolute;
  animation: icon-random-k-animate 10s linear infinite;
  animation-delay: 10s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-k-animate {
  10% {
    left: calc(var(--left-local) + 0.1881729616vw); }
  22% {
    left: calc(var(--left-local) - 0.7208714575vw); }
  30% {
    left: calc(var(--left-local) + 0.2089248308vw); }
  43% {
    left: calc(var(--left-local) - 0.8826154031vw); }
  52% {
    left: calc(var(--left-local) + 0.7265928097vw); }
  61% {
    left: calc(var(--left-local) - 0.6558071986vw); }
  70% {
    left: calc(var(--left-local) + 0.5492368536vw); }
  85% {
    left: calc(var(--left-local) - 0.4577849027vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-l.snow1 {
  --left-local: 91vw;
  --top-local: -22vh; }

.icon-random-l.snow2 {
  --left-local: 78vw;
  --top-local: -43vh; }

.icon-random-l.snow3 {
  --left-local: 48vw;
  --top-local: -5vh; }

.icon-random-l.snow4 {
  --left-local: 74vw;
  --top-local: -30vh; }

.icon-random-l.snow5 {
  --left-local: 66vw;
  --top-local: -42vh; }

.icon-random-l.snow6 {
  --left-local: 39vw;
  --top-local: -20vh; }

.icon-random-l.snow7 {
  --left-local: 45vw;
  --top-local: -21vh; }

.icon-random-l.snow8 {
  --left-local: 47vw;
  --top-local: -33vh; }

.icon-random-l.snow9 {
  --left-local: 31vw;
  --top-local: -26vh; }

.icon-random-l.snow10 {
  --left-local: 62vw;
  --top-local: -49vh; }

.icon-random-l {
  position: absolute;
  animation: icon-random-l-animate 10s linear infinite;
  animation-delay: 11s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-l-animate {
  10% {
    left: calc(var(--left-local) + 0.6006581653vw); }
  22% {
    left: calc(var(--left-local) - 0.7107532497vw); }
  30% {
    left: calc(var(--left-local) + 0.6531963267vw); }
  43% {
    left: calc(var(--left-local) - 0.5231822029vw); }
  52% {
    left: calc(var(--left-local) + 0.1369874587vw); }
  61% {
    left: calc(var(--left-local) - 0.1678340504vw); }
  70% {
    left: calc(var(--left-local) + 0.9401134005vw); }
  85% {
    left: calc(var(--left-local) - 0.6411172367vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }
.icon-random-m.snow1 {
  --left-local: 11vw;
  --top-local: -25vh; }

.icon-random-m.snow2 {
  --left-local: 23vw;
  --top-local: -24vh; }

.icon-random-m.snow3 {
  --left-local: 41vw;
  --top-local: -36vh; }

.icon-random-m.snow4 {
  --left-local: 98vw;
  --top-local: -19vh; }

.icon-random-m.snow5 {
  --left-local: 57vw;
  --top-local: -20vh; }

.icon-random-m.snow6 {
  --left-local: 94vw;
  --top-local: -4vh; }

.icon-random-m.snow7 {
  --left-local: 7vw;
  --top-local: -9vh; }

.icon-random-m.snow8 {
  --left-local: 3vw;
  --top-local: -44vh; }

.icon-random-m.snow9 {
  --left-local: 4vw;
  --top-local: -19vh; }

.icon-random-m.snow10 {
  --left-local: 4vw;
  --top-local: -43vh; }

.icon-random-m {
  position: absolute;
  animation: icon-random-m-animate 10s linear infinite;
  animation-delay: 12s;
  left: var(--left-local);
  top: var(--top-local); }

@keyframes icon-random-m-animate {
  10% {
    left: calc(var(--left-local) + 0.2557379401vw); }
  22% {
    left: calc(var(--left-local) - 0.5474677186vw); }
  30% {
    left: calc(var(--left-local) + 0.7694496778vw); }
  43% {
    left: calc(var(--left-local) - 0.6246154934vw); }
  52% {
    left: calc(var(--left-local) + 0.2810924614vw); }
  61% {
    left: calc(var(--left-local) - 0.0819658608vw); }
  70% {
    left: calc(var(--left-local) + 0.937644415vw); }
  85% {
    left: calc(var(--left-local) - 0.0678361234vw); }
  100% {
    left: calc(var(--left-local) + -1%);
    top: 101vh; } }

/*# sourceMappingURL=snow.css.map */
