.orbit {
  position: absolute;
  z-index: 1;
  width: 80vmin;
  height: 80vmin;
  -webkit-animation: orbit 10s linear infinite;
  animation: orbit 10s linear infinite; }

@keyframes orbit {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.circle {
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%; }

.the-sun {
  position: absolute;
  background: radial-gradient(circle, #fff 0%, #f6b933 50%, #ffbf00 65%, #ff6347 100%); }

.sun-first-layer {
  position: absolute;
  background: #f6b933;
  filter: blur(3px) drop-shadow(0px 0px 3vmin #ec6633); }

.sun-second-layer {
  position: relative;
  background: #fafafa;
  filter: contrast(1.3) brightness(1.4);
  animation: brigth 10s linear infinite; }

@keyframes brigth {
  0%,
  100% {
    filter: brightness(1.4); }
  50% {
    filter: brightness(1.9); } }
.ray-1 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 33vmin;
  height: 1vmin;
  background: linear-gradient(90deg, #ffffff05 0%, #ffbf0075 30%, #ffbf0075 65%, #ffffff05 100%);
  z-index: -1;
  transform: rotate(60deg);
  animation: rotation-ray-1 10s linear infinite; }

@keyframes rotation-ray-1 {
  0% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(60deg); }
  50% {
    filter: brightness(1.1);
    transform: scale(1.1); }
  100% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(420deg); } }
.ray-2 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 33vmin;
  height: 2vmin;
  background: linear-gradient(90deg, #ffffff05 0%, #ffbf0075 30%, #ffbf0075 65%, #ffffff05 100%);
  z-index: -1;
  transform: rotate(120deg);
  animation: rotation-ray-2 10s linear infinite; }

@keyframes rotation-ray-2 {
  0% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(120deg); }
  50% {
    filter: brightness(1.1);
    transform: scale(1.1); }
  100% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(480deg); } }
.ray-3 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 33vmin;
  height: 3vmin;
  background: linear-gradient(90deg, #ffffff05 0%, #ffbf0075 30%, #ffbf0075 65%, #ffffff05 100%);
  z-index: -1;
  transform: rotate(180deg);
  animation: rotation-ray-3 10s linear infinite; }

@keyframes rotation-ray-3 {
  0% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(180deg); }
  50% {
    filter: brightness(1.1);
    transform: scale(1.1); }
  100% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(540deg); } }
.ray-4 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 33vmin;
  height: 4vmin;
  background: linear-gradient(90deg, #ffffff05 0%, #ffbf0075 30%, #ffbf0075 65%, #ffffff05 100%);
  z-index: -1;
  transform: rotate(240deg);
  animation: rotation-ray-4 10s linear infinite; }

@keyframes rotation-ray-4 {
  0% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(240deg); }
  50% {
    filter: brightness(1.1);
    transform: scale(1.1); }
  100% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(600deg); } }
.ray-5 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 33vmin;
  height: 5vmin;
  background: linear-gradient(90deg, #ffffff05 0%, #ffbf0075 30%, #ffbf0075 65%, #ffffff05 100%);
  z-index: -1;
  transform: rotate(300deg);
  animation: rotation-ray-5 10s linear infinite; }

@keyframes rotation-ray-5 {
  0% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(300deg); }
  50% {
    filter: brightness(1.1);
    transform: scale(1.1); }
  100% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(660deg); } }
.ray-6 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 33vmin;
  height: 6vmin;
  background: linear-gradient(90deg, #ffffff05 0%, #ffbf0075 30%, #ffbf0075 65%, #ffffff05 100%);
  z-index: -1;
  transform: rotate(360deg);
  animation: rotation-ray-6 10s linear infinite; }

@keyframes rotation-ray-6 {
  0% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(360deg); }
  50% {
    filter: brightness(1.1);
    transform: scale(1.1); }
  100% {
    filter: brightness(0.9);
    transform: scale(0.9) rotate(720deg); } }

/*# sourceMappingURL=sun.css.map */
